@import "style";
@import "variables";

.header {
  background: $bgFillWhite;
  z-index: 50;

  &__container {
    background: $bgFillWhite;
  }

  &__logo img {
    @media (max-width: $mobileWidth) {
      width: 96px;
      height: 86px;
    }
  }

  &__body {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__logo {
    cursor: pointer;
    padding: 0 77px 0 0;
    z-index: 45;
  }

  &__right-part {
    display: flex;
    align-items: center;
    margin-right: -15px;
    z-index: 45;
  }
}

.menu {
  &__body {
    @media (max-width: $mobileWidth) {
      position: fixed;
      height: 100%;
      width: 50%;
      top: 0px;
      left: -100%;
      z-index: 99;
      background-color: $bgFill;
      flex-direction: column;
      justify-content: flex-start;
    }
    display: flex;
    align-items: center;

    &._show {
      width: 50%;
      top: 0;
      left: 15px;
      padding-top: 100px;
      z-index: 40;
    }
  }

  &__container {
    display: flex;
  }

  &__to-shop {
    @media (max-width: $mobileWidth) {
      border: none;
      padding: 10px 20px 10px 20px;
      border: $red solid 1px;
    }

    border-color: $red;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: $red;
    }
  }

  &__list {
    @media (max-width: $mobileWidth) {
      flex-direction: column;
      row-gap: 20px;
    }

    @media (max-width: $maxWidthContainer) {
      padding: 14px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    display: flex;
    list-style: none;
    padding-left: 65px;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
    padding: 0 18px;
  }

  &__link {
    span:hover {
      color: $red;
    }
  }

  &__link span:first-child {
    color: $red;
  }

  &__link:hover {
    color: $red;
  }
}

.button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.16;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  padding: 10px 30px;
}

.lang {
  position: relative;
  z-index: 8;
  background: $bgFillWhite;
  position: relative;
  font-size: $fontSize;
  line-height: 1.16;
  padding-right: 52px;

  &__current:hover,
  &__item:hover {
    color: $red;
  }

  &.show {
    .lang__body {
      display: block;
      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  &__icon {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid $main;
  }

  &__header {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
  }

  &__body {
    display: none;
  }

  &__item {
    cursor: pointer;
    list-style: none;
  }
}

.btn-menu {
  display: none;

  @media (max-width: $mobileWidth) {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 20px;
    cursor: pointer;
    border: none;
    z-index: 99;
    background-color: $bgFill;
    margin-right: 30px;

    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $main;
    }

    &::before {
      top: 0px;
    }

    &::after {
      bottom: 0px;
    }

    span {
      top: calc(50% - 1px);
    }

    &.menu-open {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(45deg);
        top: calc(50% - 1px);
      }
    }
  }
}

.icons {
  align-items: center;
  width: 174px;
  height: 24px;
  margin-top: 3px;

  &__container {
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    width: 22px;
  }

  &__link {
    padding: 14px;

    svg {
      fill: $main;

      &:hover {
        fill: $red;
      }
    }
  }
}

.heart {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-color: $red;
    transform: rotate(15deg);
  }

  &__likes {
    position: absolute;
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 8px;
    color: $white;
    display: block;
    top: 11px;
    left: 33px;
    z-index: 5;
  }
}
