@use "sass:math";
@import "calculation";
@import "fonts.scss";

$fontFamily: 'Gotham Pro';
$fontSize: rem(14);

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1470;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

$mainColor: #40474E;
$whiteColor: #FFFFFF;
$lightGrayColor: #98A4AE;
$blueColor: #6B97BB;
$redColor: #AA182C;

body {
  font-family: $fontFamily;
  color: $mainColor;
  font-size: $fontSize;
  font-weight: 400;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}

body._lock {
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: rem(14);
  font-weight: 400;
  line-height: 115.7%;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.button_blue {
  background-color: $blueColor;
  color: #F9F9FA;
  border: none;
  cursor: pointer;
}

.button_news {
  background: #CFDAE3;
  color: #40474E;
  line-height: 130%;
}

.button_article {
  background: #D9D4D4;
  color: #40474E;
  line-height: 130%;
}

.title-center {
  @media (max-width: $tablet){
    font-size: rem(18);
  }
  font-size: rem(20);
  line-height: 121.2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}
.title-left {
  @media (max-width: $tablet){
    font-size: rem(18);
  }
  @extend .title-center;
  text-align: left;
}

.title {
  @media (max-width: $tablet){
    font-size: 25px;
  }
  font-size: 44px;
  line-height: 130%;
}

.section_white {
  background-color: $whiteColor;
}

.section_beige {
  background-color: #E5E5E5;
}

.section_gray {
  background-color: rgb(207, 218, 227, 0.2);
}