$fontFamily: 'Gotham Pro';
$fontSize: 16px;
$maxWidthContainer: 1470px;
$minWidthContainer: 540px;
$mobileWidth: 1450px;
$bgFillWhite: #E5E5E5;
$bgFill: #40474e;
$main: #40474E;
$red: #AA182C;
$blue: #6B97BB;
$white: #FFFFFF;
$lightGray: #98A4AE;