@use "sass:math";
@import "fonts.scss";
@import "variables";

html {
  box-sizing: border-box;
  min-width: $minWidthContainer;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $fontFamily, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-size: $fontSize;
  color: $main;
  /* font-size: 100%; */
}

li {
  list-style: none;
}
a {
  text-decoration:none; 
  // color:inherit; 
  // cursor:pointer;
}

.container {
  display: flex;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}

body._lock {
  overflow: hidden;
}


// .title-center {
//   @media (max-width: $mobileWidth){
//     font-size: 18px;
//   }
//   font-size: 20px;
//   line-height: 121.2%;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
//   text-align: center;
// }
// .title-left {
//   @media (max-width: $mobileWidth){
//     font-size: 18px;
//   }
//   @extend .title-center;
//   text-align: left;
// }

// .title {
//   @media (max-width: $mobileWidth){
//     font-size: 25px;
//   }
//   font-size: 44px;
//   line-height: 130%;
// }

// .section_white {
//   background-color: $white;
// }

// .section_beige {
//   background-color: $bgFill;
// }

// .section_gray {
//   background-color: rgb(207, 218, 227, 0.2);
// }
